### DB 연동
- 내장 DB : SQLite
    - RDBMS : 테이블 형태의 DB

In [10]:
import sqlite3
from datetime import datetime

In [2]:
print("version : ", sqlite3.sqlite_version)

version :  3.49.1

In [11]:
now = datetime.now()
print(now)

# 원하는 형식으로 변경
nowDateTime = now.strftime("%Y-%m-%d %H:%M:%S")
print(nowDateTime)

2025-06-10 11:03:03.126667
2025-06-10 11:03:03

In [ ]:
# 데이터베이스 생성
# isolation_level : autocommit 하지 않기
conn = sqlite3.connect("./test.db", isolation_level=None)

In [4]:
cursor = conn.cursor()

In [5]:
# 테이블 생성

sql = "create table if not exists users(id integer primary key, username text, email text, phone text, website text, regdate text)"

cursor.execute(sql)

In [ ]:
# create(insert)

sql = "insert into users(id, username, email, phone, website, regdate) "
sql += "values(1, 'kim', 'kim@gmail.com', '010-1234-1234', 'Kim.com',?)"

# ? : 튜플로 지정하기
cursor.execute(sql, (nowDateTime,))

In [25]:
sql = "insert into users(id, username, email, phone, website, regdate) "
sql += "values(?, ?, ?, ?, ?,?)"

# ? : 튜플로 지정하기
cursor.execute(sql, (6,'Hong', 'Hong@gmail.com', '010-1234-1234', 'Hong.com', nowDateTime))

In [14]:
userList = [
    (3,'Jang', 'Jang@gmail.com', '010-1234-1234', 'Jang.com', nowDateTime),
    (4,'Jeong', 'Jeong@gmail.com', '010-1234-1234', 'Jeong.com', nowDateTime),
    (5,'Mi', 'Mi@gmail.com', '010-1234-1234', 'Mi.com', nowDateTime)
]

cursor.executemany(sql, userList)

In [15]:
# 조회(Read) : fetchone(), fetchmany(), fetchall()

sql = "select * from users"

cursor.execute(sql)

In [17]:
cursor.fetchone()

(1, 'kim', 'kim@gmail.com', '010-1234-1234', 'Kim.com', '2025-06-10 11:03:03')

In [18]:
cursor.fetchmany(size=2)

[(2,
  'Park',
  'Park@gmail.com',
  '010-1234-1234',
  'Park.com',
  '2025-06-10 11:03:03'),
 (3,
  'Jang',
  'Jang@gmail.com',
  '010-1234-1234',
  'Jang.com',
  '2025-06-10 11:03:03')]

In [19]:
cursor.fetchall()

[(4,
  'Jeong',
  'Jeong@gmail.com',
  '010-1234-1234',
  'Jeong.com',
  '2025-06-10 11:03:03'),
 (5, 'Mi', 'Mi@gmail.com', '010-1234-1234', 'Mi.com', '2025-06-10 11:03:03')]

In [20]:
sql = "select * from users"

cursor.execute(sql)

for row in cursor.fetchall():
    print(row)

(1, 'kim', 'kim@gmail.com', '010-1234-1234', 'Kim.com', '2025-06-10 11:03:03')
(2, 'Park', 'Park@gmail.com', '010-1234-1234', 'Park.com', '2025-06-10 11:03:03')
(3, 'Jang', 'Jang@gmail.com', '010-1234-1234', 'Jang.com', '2025-06-10 11:03:03')
(4, 'Jeong', 'Jeong@gmail.com', '010-1234-1234', 'Jeong.com', '2025-06-10 11:03:03')
(5, 'Mi', 'Mi@gmail.com', '010-1234-1234', 'Mi.com', '2025-06-10 11:03:03')

In [21]:
sql = "select * from users where id = ?"

cursor.execute(sql, (3,))
cursor.fetchall()

[(3,
  'Jang',
  'Jang@gmail.com',
  '010-1234-1234',
  'Jang.com',
  '2025-06-10 11:03:03')]

In [23]:
sql = "select * from users where id in (?,?)"
cursor.execute(sql, (3,5))
cursor.fetchall()

[(3,
  'Jang',
  'Jang@gmail.com',
  '010-1234-1234',
  'Jang.com',
  '2025-06-10 11:03:03'),
 (5, 'Mi', 'Mi@gmail.com', '010-1234-1234', 'Mi.com', '2025-06-10 11:03:03')]

In [ ]:
"username : Hong"
sql = "select * from users where username = ?"
cursor.execute(sql, ("Hong",))
cursor.fetchall()

[(6,
  'Hong',
  'Hong@gmail.com',
  '010-1234-1234',
  'Hong.com',
  '2025-06-10 11:03:03')]

In [27]:
# 수정 : update

sql = "update users set phone=? where id =?"

cursor.execute(sql, ("010-4567-6605", 2))

In [29]:
# 삭제 : delete

sql = "delete from users where id = ?"
cursor.execute(sql, (5,))