### 자료형

- 숫자형 : 정수, 실수, 8진수, 16진수

In [ ]:
a = 123
B = -134
c = 0o177  # 1 * 8의 2승 + 7 * 8 + 7
c  # == print(c)

127

In [ ]:
# 사칙연산 : +, -, *, /, //, %

a = 3
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)

7
-1
12
0.75
0
3

- 문자열 자료형
  - 작은따옴표, 큰따옴표, 큰따옴표 3개, 작은따옴표 3개

In [4]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [ ]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [7]:
multiline = "Life is too short\n You need python"
print(multiline)

Life is too short
 You need python

In [8]:
multiline = """Life is too short
You need python"""
print(multiline)

Life is too short
You need python

In [11]:
multiline = '''Life is too short
You need python'''
print(multiline)

Life is too short
You need python

```
- 문자열 연산
    - + : 연결
    - * : 반복
```

In [12]:
head = "Python"
tail = " is fun"
print(head + tail)

Python is fun

In [13]:
head = "Python"
print(head * 2)

PythonPython

In [14]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

- 문자열 인덱싱과 슬라이싱
    - 인덱스 : 0을 붙이면 왼쪽부터 시작, -1을 붙이면 오른쪽부터 접근

In [17]:
str1 = '''Life is too short You need python'''
str1

'Life is too short You need python'

In [18]:
# 인덱스

print(str1[3])
print(str1[-1])

e
n

In [ ]:
# 슬라이싱 [시작위치:종료위치]
# 종료위치는 출력에 포함하지 않음
# 위치 지정하지 않으면 무조건 처음 or 마지막 의미

print(str1[3:])
print(str1[:6])
print(str1[:])
print(str1[:-7])

e is too short You need python
Life i
Life is too short You need python
Life is too short You need

In [24]:
a = "20250601Rainy"

# 날짜와 날씨 구분 후 출력
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20250601
Rainy

- 문자열 포매팅
    - %s : 문자열, (모든 것 가능)
    - %c : 문자 1개
    - %d : 정수
    - %f : 부동 소수
    - %% : 문자 %를 의미

In [32]:
# %d, %s, %f

print("I eat %d apples" % 3)
print("I eat %s apples" % 3)
print("I eat %s apples" % "five")
print("I ate %d apples. so I was sick for %s days" % (3, "three"))
print('Error is %d%%' %98)

I eat 3 apples
I eat 3 apples
I eat five apples
I ate 3 apples. so I was sick for three days
Error is 98%

In [34]:
print('%s' % 'hi')
print('%10s' % 'hi') # 오른쪽 정렬
print('%-10s' % 'hi') # 왼쪽 정렬

hi
        hi
hi

In [37]:
print("%.4f" % 3.241553535)
print("%10.4f" % 3.241553535)

3.2416
    3.2416

format 함수 사용한 포매팅

In [39]:
print("I eat {0} apples".format(3))
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))
print("I ate {0} apples. so I was sick for {1} days".format(3, "three"))

I eat 3 apples
I eat 3 apples
I eat five apples
I ate 3 apples. so I was sick for three days

In [41]:
number = 3
print("I eat %d apples" % number)
print("I eat {0} apples".format(number))
print("I eat", number, "apples")

I eat 3 apples
I eat 3 apples
I eat 3 apples

f 문자열 포매팅

In [43]:
name = '홍길동'
age = 30
print(f"나의 이름은 {name} 입니다. 나이는 {age} 입니다.")
print(f"나의 이름은 {name} 입니다. 나이는 {age + 1} 입니다.")

나의 이름은 홍길동 입니다. 나이는 30 입니다.
나의 이름은 홍길동 입니다. 나이는 31 입니다.

문자열 관련 함수

In [44]:
a = "hobby"
# count() : 문자열 개수
a.count('b')

2

In [ ]:
# 길이
len(a)

5

In [52]:
a = "Python is the best choice"
# b 라는 문자가 처음 나온 위치
print(a.find("b"))
print(a.find("b", 10))
print(a.rfind("b"))
print(a.find("k"))

14
14
14
-1

In [50]:
print(a.index("b"))
# print(a.index("k")) 찾는 문자가 없을 때 에러 반환

14

In [55]:
# startswith() : 특정문자로 시작하는
# endwith() : 특정 문자로 끝나는
print(a.startswith("P"))
print(a.endswith("P"))

True
False

In [58]:
# join() : 리스트를 일반 문자열로 변경시 가장많이 사용
print(",".join("abcde"))
print("".join(["A", "B", "C", "D"]))

a,b,c,d,e
ABCD

In [62]:
# upper(), lower()
# swapcase() : 대/소문자 상호 변환

a = "abcde"
print(a.upper())
a ="ABCDE"
print(a.lower())
a = "AbCdE"
print(a.swapcase())

ABCDE
abcde
aBcDe

In [63]:
# 공백 제거
# lstrip() : 왼쪽 공백 제거
# rstrip() : 오른쪽 공백 제거

a = "    hi"
print (a)
print (a)
print (a.lstrip())

a = "hi         "
print (a)
print (a.rstrip())

a = "     hi         "
print (a)
print (a.strip())

    hi
    hi
hi
hi
hi
     hi
hi

In [64]:
# replace() : 문자열 변경

a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [67]:
# split() : 문자열 나누기

print(a.split())

a = "a:b:c:d"
print(a.split(":"))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [ ]:
# 문자열 구성 파악

print("1234".isdigit())
print("1234".isalpha())
print("1234".isalnum()) # alpha + num
print("ABCD".islower())
print("abcd".isupper())
print("    ".isspace())

True
False
True
False
False
True

In [84]:
# 사용자에게 2030/10/30 형태로 입력 받은 후 10년 후의 날짜 계산

# 내꺼
date = input("date")
dayList = date.split("/")
year = int(dayList[0])
print(f"{year+10}년 {dayList[1]}월 {dayList[2]}일")

2030년 10월 30일

In [1]:
# 강사님꺼
data = input("date")
pos = data.find("/")

year1 = int(data[:pos]) + 10
print("입력한 날짜의 10년 후 %s" % (str(year1) + "년" + data[5:7] + "월" + data[8:] + "일"))

입력한 날짜의 10년 후 2030년10월30일

In [ ]:
# http://naver.com
data = input("입력")

# 암호 생성
# 규칙 1 : http:// 부분은 제외
role1 = data.find("/") + 2
# 규칙 2 : 처음 나오는 . 이후 부분 제외
role2 = data.find(".")
mid = data[role1:role2]
# 규칙 3 : 남은 글자 중 세자리 + 글자개수 + 글자 내 'e' 의 개수 + ! 로 구성
lengthAll = len(data)
findE = data.count("e")

print(mid[:3] + str(lengthAll) + str(findE) + "!")

nav161!