### DB 연동
- oracle 연동
- pip install oracledb

In [1]:
import oracledb
from datetime import datetime

In [2]:
conn = oracledb.connect(user="c##java", password="12345", dsn="localhost/xe")
cursor = conn.cursor()

In [3]:
now = datetime.today()
now

datetime.datetime(2025, 6, 10, 11, 40, 38, 385158)

In [4]:
sql = "select * from boardtbl where bno between 1 and 10"

cursor.execute(sql)

In [5]:
for row in cursor.fetchall():
    print(row)

(1, datetime.datetime(2025, 5, 12, 16, 46, 37, 263790), datetime.datetime(2025, 5, 12, 16, 46, 37, 263790), 'board content 1', 'user3@gmail.com', 'title1')
(2, datetime.datetime(2025, 5, 12, 16, 46, 37, 351739), datetime.datetime(2025, 5, 12, 16, 46, 37, 351739), 'board content 2', 'user2@gmail.com', 'title2')
(3, datetime.datetime(2025, 5, 12, 16, 46, 37, 363732), datetime.datetime(2025, 5, 12, 16, 46, 37, 363732), 'board content 3', 'user1@gmail.com', 'title3')
(4, datetime.datetime(2025, 5, 12, 16, 46, 37, 375725), datetime.datetime(2025, 5, 12, 16, 46, 37, 375725), 'board content 4', 'user3@gmail.com', 'title4')
(5, datetime.datetime(2025, 5, 12, 16, 46, 37, 385719), datetime.datetime(2025, 5, 12, 16, 46, 37, 385719), 'board content 5', 'user3@gmail.com', 'title5')
(6, datetime.datetime(2025, 5, 12, 16, 46, 37, 396712), datetime.datetime(2025, 5, 12, 16, 46, 37, 396712), 'board content 6', 'user1@gmail.com', 'title6')
(7, datetime.datetime(2025, 5, 12, 16, 46, 37, 408706), datetime.datetime(2025, 5, 12, 16, 46, 37, 408706), 'board content 7', 'user9@gmail.com', 'title7')
(8, datetime.datetime(2025, 5, 12, 16, 46, 37, 418699), datetime.datetime(2025, 5, 12, 16, 46, 37, 418699), 'board content 8', 'user3@gmail.com', 'title8')
(9, datetime.datetime(2025, 5, 12, 16, 46, 37, 429694), datetime.datetime(2025, 5, 12, 16, 46, 37, 429694), 'board content 9', 'user6@gmail.com', 'title9')
(10, datetime.datetime(2025, 5, 12, 16, 46, 37, 440687), datetime.datetime(2025, 5, 12, 16, 46, 37, 440687), 'board content 10', 'user7@gmail.com', 'title10')

In [7]:
sql = "select * from boardtbl where bno = :bno"
cursor.execute(sql, (1,))
cursor.fetchone()

(1,
 datetime.datetime(2025, 5, 12, 16, 46, 37, 263790),
 datetime.datetime(2025, 5, 12, 16, 46, 37, 263790),
 'board content 1',
 'user3@gmail.com',
 'title1')

In [8]:
sql = "insert into boardtbl(title, content, member_id, created_date, updated_date) "
sql += "values(:1, :2, :3, :4, :5)"

data = ("python", "python data", "user1@gmail.com", now, now)
cursor.execute(sql, data)
conn.commit()

In [11]:
sql = "update boardtbl set title=:1, updated_date=:2 where bno=:3"
now = datetime.today()
cursor.execute(sql, ("update title python", now, 121))
conn.commit()

In [12]:
sql = "delete from boardtbl where bno=:1"

cursor.execute(sql, (121,))
conn.commit()