### 함수
```
def 함수명(매개변수):
    수행할문장1
    수행할문장2
```

In [1]:
def add(a, b):
    return a + b

In [3]:
print(add(5, 6))

11

In [4]:
def say():
    return "Hi"

print(say())

Hi

In [6]:
# 매개변수를 지정해서 넘길 수도 있음
print(add(a=7, b=5))

12

In [ ]:
# 기본 매개변수

# n 을 기본으로 2로 세팅
def print_n_times(value, n=2):
    for i in range(n):
        print(value)

In [11]:
print_n_times("안녕하세요")

안녕하세요
안녕하세요

In [12]:
print_n_times("안녕하세요", 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
# 가변 매개변수 : *args
#   => args 는 그냥 많이 쓰는 이름
#   => * 이 중요함
# 가변 매개변수 뒤에는 일반 매개변수가 올 수 없음 (가변 매개변수는 마지막에 선언)
# 가변 매개변수는 1개만 사용

def add_many(*args):
    print(args)

# def add_many2(*args, n):
#     print(args)

In [19]:
add_many()
add_many("35", "24", "45")
add_many("A", "B", "C", "D")
add_many([1, 2, 3, 4, 5])
# add_many2([1, 2, 3, 4, 5], 33)

()
('35', '24', '45')
('A', 'B', 'C', 'D')
([1, 2, 3, 4, 5],)

In [23]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [24]:
print(add_mul("add", 10, 11, 12, 13))
print(add_mul("mul", 10, 11, 12, 13))

46
17160

In [25]:
# 키워드 매개변수 : **kwargs

def args_func1(**kwargs):
    print(kwargs)
    for k in kwargs.keys():
        print(k)
    for v in kwargs.values():
        print(v)

In [27]:
args_func1(name="Kim")
args_func1(name="Kim", age=15, active="Test")
args_func1(name="Kim", year=2025)

{'name': 'Kim'}
name
Kim
{'name': 'Kim', 'age': 15, 'active': 'Test'}
name
age
active
Kim
15
Test
{'name': 'Kim', 'year': 2025}
name
year
Kim
2025

In [29]:
def example_mul(arg1, arg2=5, *args, **kwargs):
    print(arg1, arg2, args, kwargs)

In [32]:
example_mul(10, 20)
example_mul(10)
example_mul(10, 15, "park", "kim")
example_mul(10, 15, "park", "kim", age=25, name="choi")

10 20 () {}
10 5 () {}
10 15 ('park', 'kim') {}
10 15 ('park', 'kim') {'age': 25, 'name': 'choi'}

In [ ]:
# 다중리턴
# => 다중리턴처럼 보이긴 하지만 tuple 로 리턴 (리턴값은 1개)
def func(a, b):
    return a + b, a *b

In [34]:
print(func(5, 6))

(11, 30)

In [35]:
def func2(a, b):
    return [a + b, a * b, a - b]

In [36]:
print(func2(11,6))

[17, 66, 5]

In [42]:
# 두개의 숫자와 연산자를 입력받아 사칙연산(+,-,*,/) 의 결과를 리턴하는 함수 작성

def fourRules(x, y, op):
    result = 0
    if op == "+":
        result = x + y
    elif op == "-":
        result = x - y
    elif op == "*":
        result = x * y
    elif op == "/":
        result = x / y
    return result

In [44]:
a = int(input("첫번째 숫자"))
b = int(input("두번째 숫자"))
c = input("연산자 입력")
print(fourRules(a, b, c))

15

In [48]:
# 람다함수
# 익명함수

def square(x):
    return x**2

square2 = lambda x:x**2

In [50]:
print(square(5))
print(square2(5))

25
25

In [51]:
print(type(square2))

<class 'function'>

In [52]:
print(square2(6))

36

In [53]:
def add(a, b):
    return a + b


add2 = lambda a, b: a + b

In [55]:
print(add2(6, 11))

17

In [59]:
list1 = ["bob", "charles","alexander3","teddy"]

print(list1)
list1.sort()
print(list1)

['bob', 'charles', 'alexander3', 'teddy']
['alexander3', 'bob', 'charles', 'teddy']

In [60]:
# 문자의 길이가 짧은 순서대로 정렬
def str_len(s):
    return len(s)

list1.sort(key=str_len)
list1

['bob', 'teddy', 'charles', 'alexander3']

In [61]:
list1 = ["bob", "charles", "alexander3", "teddy"]

list1.sort(key=lambda s: len(s))
list1

['bob', 'teddy', 'charles', 'alexander3']

In [85]:
# filter, map : 실행 후 새로운 리스트로 반환

list1 = [1, 2, 3, 4, 5, 7, 9, 10, 12, 14]

# list1 에서 짝수만 추출해서 새로운 리스트로 생성
list2 = [x for x in list1 if x % 2 == 0]
print(list2)

def even(data):
    return [x for x in data if x % 2 == 0]

[2, 4, 10, 12, 14]

In [86]:
print(even([23,35,12,2,4,5,6,78,9,0,4,5,34,34]))
print(even(list1))

[12, 2, 4, 6, 78, 0, 4, 34, 34]
[2, 4, 10, 12, 14]

In [87]:
# filter(함수, 함수적용할 리스트)
def even(n):
    return n % 2 == 0

list(filter(even, list1))

[2, 4, 10, 12, 14]

In [88]:
list(filter(lambda n: n % 2 == 0, list1))

[2, 4, 10, 12, 14]

In [89]:
# map(함수, 리스트)
def mul(x):
    return x ** 2

list(map(mul, list1))

[1, 4, 9, 16, 25, 49, 81, 100, 144, 196]

In [92]:
list(map(lambda x: x**2, list1))

[1, 4, 9, 16, 25, 49, 81, 100, 144, 196]