### 파일입출력

In [129]:
# 키보드 입력 : input() / 화면 출력 : print()

# open("경로", "모드")

f = open("data/test1.txt", "w")
f.write("Hello Python")
f.close()

# with
with open("data/test1.txt", "w") as f:
    f.write("Hello Python")

In [94]:
f = open("data/test1.txt", "w", encoding="utf-8")
f.write("안녕하세요")
f.write("반갑습니다")
f.close()

In [95]:
f = open("data/test1.txt", "a", encoding="utf-8")
f.write("안녕하세요")
f.write("반갑습니다")
f.close()

In [96]:
f = open("data/test1.txt", "w", encoding="utf-8")
for i in range(1, 11):
    data = "%d 번째 줄입니다\n" % i
    f.write(data)
f.close()

In [97]:
list1 = ["Kim", "Park", "Hong", "Choi"]

f = open("data/test2.txt", "w", encoding="utf-8")
for i in list1:
    f.write(i + "\n")
f.close()

In [98]:
f = open("data/test2.txt", "w", encoding="utf-8")
f.writelines(list1)
f.close()

In [99]:
dict1 = {"name": "hong", "age": 25, "addr": "서울"}

f = open("data/test2.txt", "w", encoding="utf-8")
f.writelines(dict1)  # 키값만 작성
f.close()

In [100]:
f = open("data/test2.txt", "w", encoding="utf-8")
for k, v in dict1.items():
    f.write("{} : {}\n".format(k, v))
f.close()

In [101]:
import random

hanguls = list("가나다라마바사아자차카타파하")
f = open("data/info.txt", "w", encoding="utf-8")
for i in range(500):
    name = random.choice(hanguls) + random.choice(hanguls)
    weight = random.randrange(40,100)
    height = random.randrange(140, 200)
    f.write("{}, {}, {}\n".format(name,weight,height))
f.close()

In [102]:
f = open("data/test1.txt", "r", encoding="utf-8")
content = f.read()
print(content)
f.close()

1 번째 줄입니다
2 번째 줄입니다
3 번째 줄입니다
4 번째 줄입니다
5 번째 줄입니다
6 번째 줄입니다
7 번째 줄입니다
8 번째 줄입니다
9 번째 줄입니다
10 번째 줄입니다

In [128]:
f = open("data/test1.txt", "r", encoding="utf-8")
content = f.readlines() # 리스트로 가져옴
print(content)
f.close()

with open("data/test1.txt", "r", encoding="utf-8") as f:
    content = f.readlines()
    print content

SyntaxError: expected ':' (3849388895.py, line 6)

In [104]:
f = open("data/test1.txt", "r", encoding="utf-8")
content = f.readline() # 줄 단위로 읽어오기
print(content)
f.close()

1 번째 줄입니다

In [105]:
f = open("data/test1.txt", "r", encoding="utf-8")
line = f.readline() # 줄 단위로 읽어오기
while line:
    print(line, end="")
    line = f.readline()
f.close()

1 번째 줄입니다
2 번째 줄입니다
3 번째 줄입니다
4 번째 줄입니다
5 번째 줄입니다
6 번째 줄입니다
7 번째 줄입니다
8 번째 줄입니다
9 번째 줄입니다
10 번째 줄입니다

In [106]:
# score 읽어와서 평균, 총점 출력

# 내꺼
f = open("data/score.txt", "r", encoding="utf-8")
content = f.read().split("\n")
total = 0
for x in content:
    total += int(x)
print("평균 : %.2f" % (total / len(content)))
print("총점 :", total)
f.close()

평균 : 87.29
총점 : 611

In [107]:
# score 읽어와서 평균, 총점 출력

# 강사님꺼
scores = []

f = open("data/score.txt", "r", encoding="utf-8")
line = f.readline()
while line:
    scores.append(int(line))
    line = f.readline()
f.close()

In [108]:
# 강사님꺼
print(scores)
print("합계 :", sum(scores))
print("평균 : %.2f" % (sum(scores) / len(scores)))
print("평균 :{:6.3}".format(sum(scores) / len(scores)))

[95, 78, 72, 82, 95, 89, 100]
합계 : 611
평균 : 87.29
평균 :  87.3

In [109]:
f = open("data/score.txt", "r", encoding="utf-8")
for num in f:
    print(num.strip())

95
78
72
82
95
89
100

In [110]:
# score 읽어서 sample.txt 쓰기
list1 = []
f = open("data/score.txt", "r", encoding="utf-8")
for num in f:
    list1.append(num.strip())
f.close()

f = open("data/sample.txt", "w", encoding="utf-8")
for num in list1:
    f.write(num + "\n")
f.close()

In [121]:
list1 = ["a", "b", "c"]

# a
# b
# c

print("\n".join(list1))

a
b
c

In [126]:
# info.txt 읽어와서 BMI 지수 계산 후 화면출력
f = open("data/info.txt", "r", encoding="utf-8")
for info in f:
    name, weight, height = info.strip().split(", ")
    # print(name, weight, height)
    # BMI = weight / ((height / 100) ** 2)
    bmi = int(weight) / (int(height) / 100) ** 2

    result = ""
    # BMI >= 25 : 과체중
    if bmi >= 25:
        result = "과체중"
    # BMI >= 18.5 : 정상체중
    elif bmi >= 18.5:
        result = "정상체중"
    # BMI : 저체중
    else:
        result = "저체중"

# 나다 82 180
# 이름 : 나다
# print(f"이름 : {name}")
# 몸무게 : 82
# 키 : 180
# bmi : 33.78
# 결과 : 과체중

print("\n".join(["이름 : {}", "몸무게 : {}", "키 : {}", "BMI : {}", "결과 : {}"]).format(name, weight, height, bmi, result))
print()

f.close()

이름 : 나차
몸무게 : 81
키 : 164
BMI : 30.116002379535995
결과 : 과체중

In [137]:
import csv

with open("./data/sample1.csv", "r") as f:
    reader = csv.reader(f)

    # 제목 행 제외
    next(reader)

    for c in reader:
        print(c)

['1', '김정수', '2017-01-19 11:30:00', '25']
['2', '박민구', '2017-02-07 10:22:00', '35']
['3', '정순미', '2017-01-22 09:10:00', '33']
['4', '김정현', '2017-02-22 14:09:00', '45']
['5', '홍미진', '2017-04-01 18:00:00', '17']
['6', '김순철', '2017-05-14 22:33:07', '22']
['7', '이동철', '2017-03-01 23:44:45', '27']
['8', '박지숙', '2017-01-11 06:04:18', '30']
['9', '김은미', '2017-02-08 07:44:33', '51']
['10', '장혁철', '2017-12-01 13:01:11', '16']

In [141]:
import csv

with open("./data/sample1.csv", "r") as f:
    reader = csv.DictReader(f)

    # 제목 행 제외
    next(reader)

    for c in reader:
        print(c)
        for k, v in c.items():
            print(k, v)

{'번호': '2', '이름': '박민구', '가입일시': '2017-02-07 10:22:00', '나이': '35'}
번호 2
이름 박민구
가입일시 2017-02-07 10:22:00
나이 35
{'번호': '3', '이름': '정순미', '가입일시': '2017-01-22 09:10:00', '나이': '33'}
번호 3
이름 정순미
가입일시 2017-01-22 09:10:00
나이 33
{'번호': '4', '이름': '김정현', '가입일시': '2017-02-22 14:09:00', '나이': '45'}
번호 4
이름 김정현
가입일시 2017-02-22 14:09:00
나이 45
{'번호': '5', '이름': '홍미진', '가입일시': '2017-04-01 18:00:00', '나이': '17'}
번호 5
이름 홍미진
가입일시 2017-04-01 18:00:00
나이 17
{'번호': '6', '이름': '김순철', '가입일시': '2017-05-14 22:33:07', '나이': '22'}
번호 6
이름 김순철
가입일시 2017-05-14 22:33:07
나이 22
{'번호': '7', '이름': '이동철', '가입일시': '2017-03-01 23:44:45', '나이': '27'}
번호 7
이름 이동철
가입일시 2017-03-01 23:44:45
나이 27
{'번호': '8', '이름': '박지숙', '가입일시': '2017-01-11 06:04:18', '나이': '30'}
번호 8
이름 박지숙
가입일시 2017-01-11 06:04:18
나이 30
{'번호': '9', '이름': '김은미', '가입일시': '2017-02-08 07:44:33', '나이': '51'}
번호 9
이름 김은미
가입일시 2017-02-08 07:44:33
나이 51
{'번호': '10', '이름': '장혁철', '가입일시': '2017-12-01 13:01:11', '나이': '16'}
번호 10
이름 장혁철
가입일시 2017-12-01 13:01:11
나이 16

In [145]:
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]

with open("./data/sample2.csv", "w", newline="") as f:
    wt = csv.writer(f)
    # for item in list1:
    #     wt.writerow(item)
    wt. writerows(list1)

In [148]:
with open("./data/sample3.csv", "r") as f:
    reader = csv.reader(f, delimiter="|")

    for c in reader:
        print(c)
        print("\n".join(c))

['1', '김정수', '2017-01-18 11:30:00', '25']
1
김정수
2017-01-18 11:30:00
25
['2', '박민구', '2017-02-07 10:22:00', '35']
2
박민구
2017-02-07 10:22:00
35
['3', '정순미', '2017-01-22 09:10:00', '33']
3
정순미
2017-01-22 09:10:00
33
['4', '김정현', '2017-02-22 14:30:00', '45']
4
김정현
2017-02-22 14:30:00
45
['5', '홍미진', '2017-01-18 11:30:00', '24']
5
홍미진
2017-01-18 11:30:00
24
['6', '이동철', '2017-03-01 23:30:00', '27']
6
이동철
2017-03-01 23:30:00
27
['7', '김은미', '2017-04-01 23:30:00', '25']
7
김은미
2017-04-01 23:30:00
25

In [152]:
import json

data = '{"id":"hong", "language":"python", "edition":"3.5", "author":"Guido van rossum"}'

print(type(data))

jsondata = json.loads(data)
print(type(jsondata))

print(jsondata['id'])
print(jsondata['language'])
print(jsondata['edition'])
print(jsondata['author'])

<class 'str'>
<class 'dict'>
hong
python
3.5
Guido van rossum

In [155]:
data = {"id":"hong", "language":"python", "edition":"3.5", "author":"Guido van rossum"}

print(type(data))

jsondata = json.dumps(data)
print(type(jsondata))

<class 'dict'>
<class 'str'>

In [156]:
with open("./data/test.json", "w") as f:
    json.dump(data, f, indent=2)

In [157]:
with open("./data/test.json", "r") as f:
    print(json.load(f))

{'id': 'hong', 'language': 'python', 'edition': '3.5', 'author': 'Guido van rossum'}

- json
    - loads : 문자열을 dict 구조로 처리
    - dumps : dict 구조를 문자열로 처리
    - load : json 파일을 읽어서 dict 구조로 처리
    - dump : dict 구조를 json 으로 처리