제어문
 - if

In [58]:
a = 200
if a < 100:
    print("a는 100보다 작다.")

In [59]:
#기존코드# a > 100 and a < 300

if 100 < a < 300:
    print("a는 100보다 크고 300보다 작다.")

a는 100보다 크고 300보다 작다.

In [60]:
#a = 12,b = 6 ,c = 18
# 가장 큰 수를 출력  

# a = 12 
# b = 6
# c = 18

# if a < b: 
#     if c < b :
#         print("제일 큰 수는 b입니다")
#     if c < a :
#         print("제일 큰 수는 a입니다") 
# print("제일 큰 수는 c입니다.")        

a,b,c =12,6,18

max = a
if max < b:
    max = b
if max < c:
    max =c
print(f"가장 큰 수는 {max}")

가장 큰 수는 18

In [61]:
if a < 100:
    print("a는 100보다 작다")
else:
    print("a는 100보다 크다")

a는 100보다 작다

In [62]:
# && 부호는 python 사용 불가
# "and" 사용

score, grade = 90, "A"

if score > 90 and grade == "A":
    print("합격")
else: 
    print("불합격")

불합격

In [63]:
#사용자한테 입력받은 숫자가 짝수/홀수인지 출력
#input()은 string으로 반환함.

num = int(input("숫자 입력"))

if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

짝수

In [64]:
# if ~ elif ~ else

if score >= 90:
    grade = "A"
elif score > 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"

else:
    grade = "F"      

print(f"등급 {grade}")

등급 A

In [65]:
#숫자 두 개 입력, 연산자(+, -, /, //, %) 입력
#계산기

num1 = int(input("num1 입력"))
op = input("연산자(+, -, /, //, %) 입력")
num2 = int(input("num2 입력"))

result = 0

if op == "+" :
    result = num1 + num2
elif op == "-" :
    result = num1 - num2
elif op == "/" :
    result = num1 / num2
elif op == "//" :
    result = num1 // num2
elif op == "%" :
    result = num1 % num2
else:
    print("연산자 확인")

print(f"{num1} {op} {num2} = {result}")

연산자 확인
100 100 100 = 0

In [66]:
# x in list : x가 리스트 안에 포함되었나?
# x in 문자열 : x가 문자열 안에 포함되었나?
print(1 in [1,2,3])
print(a in [a,b,c])

True
True

In [67]:
pocket = ["paper", "money", "cellphone"]

if "money" in pocket:
    print("money 있음")

money 있음

In [68]:
# 파이썬에 삼항연산자 (조건 ? 참:거짓) 은 없음

# message = ""
# if score >= 60:
#     message = "success"
# else:
#     message = "fail"

# 파이썬의 삼항 연산자같은 개념
message = "success" if score >= 60 else "fail"

message

'success'

반복문
 - while
 - for

In [69]:
i = 1

while i < 11:
    print(i, end = "  ")
    # i++ => i++ 같은 거 안됨
    i = i +1

1  2  3  4  5  6  7  8  9  10

In [70]:
# 1~100 까지의 합계 구하기
i, hap = 1, 0
while i < 101:
    i = i + 1
    hap += i

print(f"1~100 합 : {hap}")

1~100 합 : 5150

In [ ]:
del list

In [87]:
del sum

In [88]:
print(range(5))
print(list(range(5))) # => 범위를 물어보면 1 ~ 5가 아닌 0 ~ 4 => 0부터 시작
print(sum(range(5)))
print(sum(range(101))) # => 1 ~ 100 의 합을 제공해줌
print(sum(range(1, 101))) # => 1부터 시작이라는 뜻
print(sum(range(1, 101, 2))) # => 1부터 시작해서 +2 씩 증가함 = 홀수의 합

range(0, 5)
[0, 1, 2, 3, 4]
10
5050
5050
2500

In [ ]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
# 1 ~ 10
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# 홀수만 출력
for i in range(1, 101, 2):
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
# 1 부터 사용자가 입력한 숫자까지 합계 구하기
num = int(input("입력")) + 1

hap = 0
for i in range(1, num):
    hap += i

print(f"1 ~ : {hap}")

1 ~ : 5050

In [ ]:
for i in range(5, -1, -1):
    print(i, end=" ")

5 4 3 2 1 0

In [ ]:
list = ["사과", "딸기", "바나나", "포도"]

# 리스트 출력
for fruit in list:
    print(fruit)

사과
딸기
바나나
포도

In [ ]:
# tuple : (0, '사과')

for idx, fruit in enumerate(list1):
    print(fruit)
    print(idx, fruit)

사과
0 사과
딸기
1 딸기
바나나
2 바나나
포도
3 포도

In [ ]:
a_class = [70, 60, 55, 75, 95, 90, 80, 85, 100]

# a_class 의 중간고사 점수에 대해서 평균 구하기
hap = 0
for i in a_class:
    hap += i

avg = hap / len(a_class)

print("중간고사 평균 : %.2f" % avg)

중간고사 평균 : 78.89

In [89]:
print("중간고사 평균 : %.2f" % (sum(a_class) / len(a_class)))

중간고사 평균 : 78.89

In [90]:
list2

[2, 4, 6, 8]

In [ ]:
# list1 의 각 요소에 * 2 를 한 후 새로운 리스트로 반환
list1 = [1,2,3,4]

list2 = []
for num in list1:
    list2.append(num*2)

list2

[2, 4, 6, 8]

In [ ]:
# 향상된 리스트
list3 = [x * 2 for x in list1]
list3

[2, 4, 6, 8]

In [ ]:
print([x * x for x in range(5)])

[0, 1, 4, 9, 16]

1 : 메뉴선택

A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
...
B 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']

2 메뉴션택

E 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C', 'D']

In [75]:
# 문자 => 유니코드 값 반환
print(ord("A"))

# 유니코드 값 => 문자 반환
print(chr(65))

65
A

In [96]:
# 주차장 프로그램 작성

parking_lot = []
top, car_name = 0, "A"

while True:
    no = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료"))

    if no <= 3:
        if no == 1:
            if top >= 5: # 주차장 꽉 찼음 출력
                print("주차장 꽉 찼음")
            else:
                parking_lot.append(car_name)
                # A 자동차 틀어감. 주차장 상태 ==> ['A']
                print(f"{car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")
                top += 1
                car_name = chr(ord(car_name) + 1)
        elif no == 2:
            if top > 0:
                outCar = parking_lot.pop()
                print(f"{outCar} 자동차 나감감. 주차장 상태 ==> {parking_lot}")
                top -= 1
                car_name = chr(ord(car_name) - 1)
            else:
                print("빠져나갈 자동차가 없음")
        else:
            print("프로그램 종료")
            break
    else:
        print("메뉴를 확인해 주세요")

A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
C 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C']
C 자동차 나감감. 주차장 상태 ==> ['A', 'B']
B 자동차 나감감. 주차장 상태 ==> ['A']
프로그램 종료

## List Comprehension

In [97]:
list3 = [x * 2 for x in list1]
list3

[2, 4, 6, 8]

In [98]:
print([x * x for x in range(5)])

[0, 1, 4, 9, 16]

In [101]:
list1 = ["갑", "을", "병", "정"]
# 정 글자만 제외하고 새로운 리스트로 생성하기

# 일반적인 방식

# list2 = []
# for s in list1:
#     if s != "정":
#         list2.append(s)

# print(list2)
# =========================================
# list comprehension 을 통해서 더 단순화

list2 = [s for s in list1 if s != "정"]
print(list2)

['갑', '을', '병']

In [ ]:
# 1 ~ 100 숫자 중 홀수만 리스트로 생성
# list2 = []
# for i in range(1, 101):
#     if i % 2 == 1:
#         list2.append(i)

# list2 = list(range(1, 101, 2))

list2 = [i for i in range(1, 101) if i % 2 == 1]
list2

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [104]:
list1 = ["nice", "study", "python", "anaconda", "!"]

# 5글자 이상의 단어만 새로운 리스트로 생성

# 일반적인 방법
# list2 = []
# for i in list1:
#     if len(i) >= 5:
#         list2.append(i)

# 리스트 컴프리핸션
list2 = [i for i in list1 if len(i) >= 5]

print(list2)

['study', 'python', 'anaconda']

In [106]:
print([[x, x+1, x+2] for x in [1,2,3]])

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]