### Set
- 집합자료형
- 자바 set 같은 개념
- 중복허용X
- 순서가 없음 (랜덤으로 담음)

In [4]:
# 생성

set1 = set()
set2 = set([1, 2, 3, 4, 5])
set3 = set([1, 4, 5, 6, 6])

In [5]:
print(set1)
print(set2)
print(set3)

set()
{1, 2, 3, 4, 5}
{1, 4, 5, 6}

In [ ]:
# 다른 자료형으로 변환
# list(), set(), dict()

# 튜플
t1 = (1,2,3,4,5)
set4 = set(t1)
print(set4)

{1, 2, 3, 4, 5}

In [ ]:
# 딕셔너리
dict1 = {"no": 1, "name": "hong", "age": 20}
set5 = set(dict1)
print(set5)

{'no', 'name', 'age'}

In [8]:
set6 = set('abcdefg')
print(set6)

{'a', 'b', 'd', 'g', 'e', 'f', 'c'}

In [10]:
# set -> tuple
t2 = tuple(set4)
t2[0]

1

In [20]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 차집합
print(s1 - s2)
print(s1.difference(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
# add() : 1 개의 값만 추가
s1.add(9)
s1

{1, 2, 3, 4, 5, 6, 9}

In [22]:
# update() : 값 여러개 추가
s1.update([10,11,12])
s1

{1, 2, 3, 4, 5, 6, 9, 10, 11, 12}

In [23]:
# remove() : 제거
s1.remove(9)
s1

{1, 2, 3, 4, 5, 6, 10, 11, 12}